{% extends "base.html" %}
{%block title%}
    Login page
{%endblock%}

{%block content %}
<form action="/login" method="POST" class="container">
<div class="flex-container">
    <h1>Login</h1>
        <label for="username">Email</label>
        <input type="text" class="input" name="email">
        <label for="password">Password</label>
        <input type="password" class="input" name="password">
        <button class="btn-action">Confirm</button>
        
        <a href="/showAddForm">Sign up now!</a>
    </div>
</form>
{%endblock%}